.album_list {
    display: flex;
    justify-content: center;
  }
  
  .album_list ul {
    list-style: none;
    padding: 0;
  }
  
  .album_list li {
    margin-bottom: 20px;
  }
  
  .album_item {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: black;
  }
  a {
    color: green;
  }
  .album_item h3 {
    margin: 0;
  }
  
  .album-item p {
    margin: 10px 0;
  }